In [4]:
print("There was once an man who's name was David\nHe use to exercise daily\nHe was 35 years old\nHe was a well known coader\nWhen he reached to age of 38 he made his name in this world.")

There was once an man who's name was David
He use to exercise daily
He was 35 years old
He was a well known coader
When he reached to age of 38 he made his name in this world.

In [7]:
print("My\tname\t is\tkhan\t")

My	name	 is	khan

In [20]:
letters = "abcdefghijklmnopqrstuvwxyz"
print(letters[1:3])
print(letters[1:20:4])
print(letters[::10])

bc
bfjnr
aku