In [4]:
for i in range(1, 20):
    print("No. {0:1} squared is {1:4} and cube is {2:5} ".format(i, i ** 2, i ** 3))

No. 1 squared is    1 and cube is     1
No. 2 squared is    4 and cube is     8
No. 3 squared is    9 and cube is    27
No. 4 squared is   16 and cube is    64
No. 5 squared is   25 and cube is   125
No. 6 squared is   36 and cube is   216
No. 7 squared is   49 and cube is   343
No. 8 squared is   64 and cube is   512
No. 9 squared is   81 and cube is   729
No. 10 squared is  100 and cube is  1000
No. 11 squared is  121 and cube is  1331
No. 12 squared is  144 and cube is  1728
No. 13 squared is  169 and cube is  2197
No. 14 squared is  196 and cube is  2744
No. 15 squared is  225 and cube is  3375
No. 16 squared is  256 and cube is  4096
No. 17 squared is  289 and cube is  4913
No. 18 squared is  324 and cube is  5832
No. 19 squared is  361 and cube is  6859

In [12]:
for i in range(1, 20):
    print("No. {0:2} squared is {1:^3} and cube is {2:<4} ".format(i, i ** 2, i ** 3))

No.  1 squared is  1  and cube is 1
No.  2 squared is  4  and cube is 8
No.  3 squared is  9  and cube is 27
No.  4 squared is 16  and cube is 64
No.  5 squared is 25  and cube is 125
No.  6 squared is 36  and cube is 216
No.  7 squared is 49  and cube is 343
No.  8 squared is 64  and cube is 512
No.  9 squared is 81  and cube is 729
No. 10 squared is 100 and cube is 1000
No. 11 squared is 121 and cube is 1331
No. 12 squared is 144 and cube is 1728
No. 13 squared is 169 and cube is 2197
No. 14 squared is 196 and cube is 2744
No. 15 squared is 225 and cube is 3375
No. 16 squared is 256 and cube is 4096
No. 17 squared is 289 and cube is 4913
No. 18 squared is 324 and cube is 5832
No. 19 squared is 361 and cube is 6859